.tab-content{
  background-color: #f5f5f5;
  box-shadow: #aaa 10px;
  width:100%;
  padding: 20px;
  margin: 10px;
}
.navbar{
  margin:20px 20px 20px 0;
}
   .nav-pills.nav-wizard > li {
     position: relative;
     overflow: visible;
     border-right: 10px solid #fff;
     border-left: 10px solid #fff;
   }
   .nav-pills.nav-wizard > li:first-child {
     border-left: 0;
   }
   .nav-pills.nav-wizard > li:first-child a {
     border-radius: 5px 0 0 5px;
   }
   .nav-pills.nav-wizard > li:last-child {
     border-right: 0;
   }
   .nav-pills.nav-wizard > li:last-child a {
     border-radius: 0 5px 5px 0;
   }
   .nav-pills.nav-wizard > li a {
     border-radius: 0;
     background-color: #eee;
     padding: 10px;
   }
 
   .nav-pills.nav-wizard > li:hover a {
     background-color: #aaa;
     color: #fff;
   }

   .nav-pills.nav-wizard > li.active a {
     background-color: #428bca;
     color: #fff;
   }
   /* CSS for Credit Card Payment form */
   .credit-card-box .panel-title {
       display: inline;
       font-weight: bold;	
   }
   .credit-card-box .form-control.error {
       border-color: red;
       outline: 0;
       box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
   }
   .credit-card-box label.error {
     font-weight: bold;
     color: red;
     padding: 2px 8px;
     margin-top: 2px;
   }
   .credit-card-box .payment-errors {
     font-weight: bold;
     color: red;
     padding: 2px 8px;
     margin-top: 2px;
   }
   .credit-card-box label {
       display: block;
   }
   
   .credit-card-box .display-tr {
       display: table-row;
   }
   .credit-card-box .display-td {
       display: table-cell;
       vertical-align: middle;
       width: 50%;
   }
   /* Just looks nicer */
   .credit-card-box .panel-heading img {
       min-width: 180px;
   }