<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">

<h3 style="margin-top:70px;">Find the right card in a few simple steps</h3>
<div class="mat-app-background basic-container">
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Pay off</ng-template>
      
        <h5>How much would you pay off each month?</h5>
          <mat-button-toggle-group name="payOption" aria-label="Font Style">
              <mat-button-toggle value="minimum">The minimum repayment</mat-button-toggle>
              <mat-button-toggle value="depends">Depends on the month
                </mat-button-toggle>
              <mat-button-toggle value="closing">All of the closing balance
                </mat-button-toggle>
            </mat-button-toggle-group>
        <!--<mat-form-field>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field> -->
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Annual income range</ng-template>
      <mat-button-toggle-group name="payOption" aria-label="Font Style">
          <mat-button-toggle value="range1">$25,000 - $34,999            </mat-button-toggle>
          <mat-button-toggle value="range2">$35,000 - $74,999            </mat-button-toggle>
          <mat-button-toggle value="range3">$75,000 or over </mat-button-toggle>
      </mat-button-toggle-group>
      <!--
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>-->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <h5>You have completed the form.</h5>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.Submit()">Show Recommendation</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/hammerjs/2.0.8/hammer.min.js"></script>